i {
  margin-left: 9px;
}
p {
  
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  cursor: pointer;
  /* identical to box height */

  /* Gray/900 */

  color: #001246;
}
