<div class="limiter">
  <app-loader [isLoaded]="isLoaded"></app-loader>
    <div class="form">
        <div class="form-title">
            <h3 class="text-white form-title-text">login</h3>
        </div>
        <div class="form-content">
            <form [formGroup]="loginForm" (ngSubmit)="signIn()" novalidate>
                <div class="form-control custom">
                    <span class="form-control-label">Username</span>
                    <input type="text" formControlName="username" class="form-control-input" placeholder="Enter your username" />
                    <small class="text-danger" *ngIf="
              loginForm.get('username')?.hasError('required')
            ">Username is required</small
          >
         
        </div>
        <div class="form-control custom">
          <span class="form-control-label">Password</span>
          <input
            formControlName="password"
            class="form-control-input"
            placeholder="Enter your password"
            type="password"
          />
          <small
            class="text-danger"
            *ngIf="
              loginForm.get('password')?.hasError('required')
            "
            >Password is required</small
          >
          
        </div>
        <div class="form-under">
          <!-- <div class="form-under-remember">
            <input class="form-under-remember-checkbox" type="checkbox" />
            <span>Remember me</span>
          </div> -->
          <div class="form-under-forgot">
            <span><a class="text-primary" (click)="popupForm()">Forgot password?</a></span>
          </div>
        </div>
        <small class="text-danger err">{{msg}}</small>

        <button type="submit"  [disabled]='loginForm.invalid'  class="form-button">Login</button>
      </form>
    </div>
  </div>
  <div class="overlay"></div>
</div>
<swal
  class="confirm"
  #requestPicker
  title="Forgot password"
  width="500px"
  tabindex="100"
>
  <div *swalPortal="swalTargets.content">
    <!-- <app-confirm-matching></app-confirm-matching> -->
   <app-forgot-form></app-forgot-form>
  </div>
</swal>