<div class="content">
  <h5>Offer stage</h5>
  <ng-container *ngIf="infor && !infor.luongNet && infor.result != 0">
    <form action="" class="content-form" [formGroup]="offerForm">
      <div class="content-form-group">
        <div class="err">
          <label for="">Gross salary:</label>
          <input type="text" formControlName="netSalary" />
        </div>
        <small *ngIf="offerForm.get('netSalary')?.hasError('required')"
          >Please input gross salary</small
        >
        <small *ngIf="offerForm.get('netSalary')?.hasError('pattern')"
          >Gross salary must be number</small
        >
      </div>
      <div class="content-form-group">
        <div class="err">
          <label for="">Probationary salary:</label>
          <input type="text" formControlName="internSalary" />
          <span>(85% Gross salary in the first 2 months)</span>
        </div>
      </div>
      <div class="content-form-group">
        <div class="err">
          <label for="">Allowance:</label>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="allowance"
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-radio-button class="example-radio-button" value="1">
              Yes
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="0">
              No
            </mat-radio-button>
          </mat-radio-group>
          <span>(breakfast, lunch, fuel, vehicle ticket)</span>
        </div>
      </div>
      <div class="content-form-group">
        <div class="err">
          <label for="">Start date:</label>
          <input type="date" formControlName="startDate" />
        </div>
        <small *ngIf="offerForm.get('startDate')?.hasError('required')"
          >Please choose start date</small
        >
        <small *ngIf="offerForm.get('startDate')?.hasError('invalid')"
          >Start date must from today</small
        >
      </div>
      <div class="content-form-group">
        <div class="err">
          <label for="">Insurance:</label>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="insurance"
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-radio-button
              class="example-radio-button"
              [checked]="'true'"
              [value]="1"
            >
              Yes
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="0">
              No
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="content-form-group">
        <div class="err">
          <label for="">Work time:</label>
          <select name="" id="" formControlName="workTime">
            <option value="Fulltime: 8:00 - 17:00 Mon-Fri">
              Fulltime: 8:00 - 17:00 Mon-Fri
            </option>
            <option value="Morning: 8:00 - 12:00 Mon-Fri">
              Morning: 8:00 - 12:00 Mon-Fri
            </option>
            <option value="Afternoon: 13:00 - 17:00 Mon-Fri">
              Afternoon: 13:00 - 17:00 Mon-Fri
            </option>
          </select>
        </div>
      </div>
      <div class="content-form-group">
        <div class="err">
          <label for="">Organiztion:</label>
          <p *ngIf="infor">{{ infor.orgName }}</p>
        </div>
      </div>
      <div class="content-form-group">
        <div class="err">
          <label for="">Position:</label>
          <p *ngIf="infor">{{ infor.position }}</p>
        </div>
      </div>
      <div class="content-form-group">
        <div class="err">
          <label for="">Location:</label>
          <p>{{ this.offerForm.get("location")?.value }}</p>
        </div>
      </div>

      <div class="content-form-group">
        <div class="err">
          <label for="">Note:</label>
          <textarea type="text" formControlName="note" [rows]="3"> </textarea>
        </div>
        <small *ngIf="offerForm.get('note')?.hasError('maxlength')"
          >Only enter 150 characters</small
        >
      </div>
    </form>
    <div class="action">
      <button (click)="reviewStep4(0)" class="btn btn-danger px-5 mx-3 py-1">
        Reject
      </button>
      <button
        [disabled]="offerForm.invalid"
        (click)="reviewStep4(1)"
        class="btn btn-success px-5 mx-3 py-1"
      >
        Confirm
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="infor && infor.luongNet && infor.result != 0">
    <div class="offer">
      <h6 class="text-success">Offer approved</h6>
      <p>
        Gross salary: <span>{{ infor.luongNet }} VND</span>
      </p>
      <p>
        Probationary salary: <span>{{ infor.luongThuViec }} VND</span>
      </p>

      Allowance: <span>{{ infor.phuCap }}  </span>

      <p>
        Start Date: <span> {{ infor.ngayLamViec }}</span>
      </p>
      <p>
        Insurance: <span>{{ infor.baoHiem | yesOrNo }}</span>
      </p>
      <p>
        Work time: <span>{{ infor.thoigianlv }}</span>
      </p>
      <p>
        Organization: <span>{{ infor.orgName }} </span>
      </p>
      <p>
        Position: <span>{{ infor.vitriCv }} </span>
      </p>
      <p>
        Location: <span>{{ infor.diaDiem }}</span>
      </p>

      <p>
        Note: <span>{{ infor.noteStep4 }}</span>
      </p>
    </div>
  </ng-container>
  <ng-container *ngIf="infor && infor.result == 0 && infor.stepNow == 4">
    <div class="offer">
      <h6 class="text-danger">Offer denied</h6>
      <!-- <p>Offer:{{ infor.offer }} VND</p>
      <p>Note:{{ infor.noteOffer }}</p> -->
    </div>
  </ng-container>
</div>
<app-loader2 [isLoaded]="isLoaded"></app-loader2>
<div class="overlay"></div>
