<div class="content">
  <div class="content-middle">
    <div class="content-middle-form">
      <div class="content-bottom">
        <table>
          <thead>
            <tr>
              <td></td>
              <td>Employee name</td>
              <td>Employee code</td>
              <td>Orgnization name</td>
              <td>Contract No</td>
              <td>Contract type</td>
              <td>Position</td>
              <td>Effect date</td>
              <td>Expire date</td>
              <td>Status</td>
            </tr>
          </thead>

          <tbody>
            <tr [formGroup]="FilterForm">
              <td></td>
              <td>
                <mat-form-field>
                  <input matInput
                         type="text"
                         placeholder="Filter"
                         formControlName="name" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput
                         type="text"
                         placeholder="Filter"
                         formControlName="code" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput
                         type="text"
                         placeholder="Filter"
                         formControlName="orgName" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput
                         type="text"
                         placeholder="Filter"
                         formControlName="contractNo" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput
                         type="text"
                         placeholder="Filter"
                         formControlName="contractType" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput
                         type="text"
                         placeholder="Filter"
                         formControlName="position" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput
                         type="date"
                         formControlName="effectdate" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput
                         type="date"
                         formControlName="exdate" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput
                         type="text"
                         placeholder="Filter"
                         formControlName="status" />
                </mat-form-field>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr [ngClass]="{ active: selectedIndexInTable === i }"
                (click)="chooseItem(item, i)"
                *ngFor="
                let item of contractEmpList
                  | paginate
                    : {
                        itemsPerPage: itemsPerPage,
                        currentPage: page,
                        totalItems: totalItems
                      };
                let i = index
              ">
              <td>
                <mat-checkbox>
                </mat-checkbox>
              </td>
              <td>{{ item.name }}</td>
              <td>{{ item.code }}</td>
              <td>{{ item.orgnizationName }}</td>
              <td>{{ item.contractNo }}</td>
              <td>{{ item.contractType }}</td>
              <td>{{ item.position }}</td>
              <td>{{ item.effectDate }}</td>
              <td>{{ item.expireDate }}</td>
              <td>{{ item.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
