.content{
    margin-right: 30px;
    margin-top: 10px;
    p{  
        cursor: pointer;
        i{
           
            color: #001EF6;
            transform: rotate(-90deg);
            font-size: 20px;
            margin-right: 5px;
        }
        color: #001EF6;
    }
    input[type="file"]{
        display: none;
    }
}