

<div class="application" *ngIf="candidateInfor">
  <app-loader [isLoaded]="isLoaded"></app-loader>
  <div class="application-heading">
    <div class="application-heading-img">
      <ngx-avatar class="img" size="100" [name]="'letter'"></ngx-avatar>
    </div>
    <div class="application-heading-contact">
      <p  class="">{{candidateInfor.name}}</p>
      <p>{{candidateInfor.phone}}</p>
      <p>{{candidateInfor.email}}</p>
    </div>
    <div class="application-heading-social">
      <div class="application-heading-social-item">
        <p>Request:</p>
        <span target="_blank"> {{candidateInfor.requestName}} </span>
      </div>
      <div class="application-heading-social-item">
        <p>Project:</p>
        <span target="_blank"> {{candidateInfor.project}} </span>
      </div>
      <div class="application-heading-social-item">
        <p class=>Department:</p>
        <span target="_blank"> {{candidateInfor.department}} </span>
      </div>
      <div class="application-heading-social-item">
        <p >Position:</p>
        <span target="_blank"> {{candidateInfor.position}} </span>
      </div>
    </div>
    <div class="application-heading-stages">
          <p>Stages of candidate:</p>
          <span *ngIf="stepNow==1" class="staging">Review CV</span>
          <span *ngIf="stepNow==2" class="staging">Setup Interview</span>
          <span *ngIf="stepNow==3" class="staging">Interview result</span>
          <span *ngIf="stepNow==4" class="staging">Offer</span>
          <span *ngIf="stepNow==5" class="staging">Onboard</span>
          <div class="application-heading-stages-box">
            <div class="application-heading-stages-box-item"[ngClass]="{'isnow':stepNow==1,passed:stepNow>1,notyet:stepNow<1,fail:candidateInfor.result==0&&stepNow==1 }">
                <span>1</span>
            </div>
            <div class="application-heading-stages-box-item" [ngClass]="{'isnow':stepNow==2,passed:stepNow>2,notyet:stepNow<2,fail:candidateInfor.result==0&&stepNow==2}">
                <span>2</span>
            </div>
            <div class="application-heading-stages-box-item" [ngClass]="{'isnow':stepNow==3,passed:stepNow>3,notyet:stepNow<3,fail:candidateInfor.result==0&&stepNow==3}">
                <span>3</span>
            </div>
            <div class="application-heading-stages-box-item" [ngClass]="{'isnow':stepNow==4,passed:stepNow>4,notyet:stepNow<4,fail:candidateInfor.result==0&&stepNow==4}">
                <span>4</span>
            </div>
            <div class="application-heading-stages-box-item" [ngClass]="{'isnow':stepNow==5,passed:stepNow>5,notyet:stepNow<5,fail:candidateInfor.result==0&&stepNow==5}">
                <span>5</span>
            </div>
          </div>
    </div>
  </div>
  <div>
  </div>
  <div class="application-middle">
    <div class="application-middle-step">
        <h6 class="application-middle-step__ttl">Stages of {{candidateInfor.name}}</h6>
        <div class="content">
            <div class="content-list">
                <div class="content-list-item" #step1 [ngClass]="{'highlight':index==1,passed:stepNow>1,notyet:stepNow<1,fail:candidateInfor.result==0&&stepNow==1 }" (click)="chooseStep(1,step1)" >
                    <h6 class="content-list-item__ttl" >Stage 1</h6>
                    <p lass="content-list-item__stl">CV</p>
                  </div>
                <div class="content-list-item" #step2 [ngClass]="{'highlight':index==2,passed:stepNow>2,notyet:stepNow<2,fail:candidateInfor.result==0&&stepNow==2}" (click)="chooseStep(2,step2)">
                    <h6 class="content-list-item__ttl">Stage 2</h6>
                    <p lass="content-list-item__stl">Setup Interview</p>
                </div>
                <div class="content-list-item" #step3 [ngClass]="{'highlight':index==3,passed:stepNow>3,notyet:stepNow<3,fail:candidateInfor.result==0&&stepNow==3}" (click)="chooseStep(3,step3)">
                    <h6 class="content-list-item__ttl">Stage 3</h6>
                    <p lass="content-list-item__stl">Interview result</p>
                </div>
                <div class="content-list-item" #step4 [ngClass]="{'highlight':index==4,passed:stepNow>4,notyet:stepNow<4,fail:candidateInfor.result==0&&stepNow==4}" (click)="chooseStep(4,step4)">
                    <h6 class="content-list-item__ttl">Stage 4</h6>
                    <p lass="content-list-item__stl">Offer</p>
                </div>
                <div class="content-list-item" #step5 [ngClass]="{'highlight':index==5,passed:stepNow>5,notyet:stepNow<5,fail:candidateInfor.result==0&&stepNow==5}" (click)="chooseStep(5,step5)">
                    <h6 class="content-list-item__ttl">Stage 5</h6>
                    <p lass="content-list-item__stl">Onboard</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<ng-container *ngIf="index==2 ">
  <app-calendar [infor]="candidateInfor"></app-calendar>
</ng-container>
<div style="position: relative;" *ngIf="index==1">
<app-cv-candidate (src)="getPDFsrc($event)" [noAttach]="true"></app-cv-candidate>
<div class="action" *ngIf="(stepNow==1 && srcPDF) &&candidateInfor.result==null ">
  <button (click)="reviewStep1(0)" class="btn btn-danger px-5 mx-3">Fail</button>
  <button (click)="reviewStep1(1)" class="btn btn-success px-5 mx-3">Pass</button>
</div>
</div>
<ng-container  *ngIf="index==3 ">
  <app-interview-result [result]="candidateInfor.result"></app-interview-result>
  <div class="action" *ngIf="(stepNow==3) &&candidateInfor.result!=0 ">
    <button (click)="reviewStep3(0)" class="btn btn-danger px-5 mx-3">Fail</button>
    <button (click)="reviewStep3(1)" class="btn btn-success px-5 mx-3">Pass</button>
  </div>
</ng-container>
<ng-container  *ngIf="index==4 ">
  <app-offer-form [infor]="candidateInfor"></app-offer-form>

</ng-container>
<ng-container  *ngIf="index==5 ">
  <app-onboard></app-onboard>

</ng-container>
<div class="overlay"></div>
