.application {
  margin-top: 10px;
  width: 100%;

  &-heading {
    position: relative;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    display: flex;
    align-items: center;
    padding: 9px;
    width: 100%;
    height: 180px;
    background-color: #f0f4f4;
    // justify-content: space-around;
    &-img {
      width: 100px;
      height: 100px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    &-contact {
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      width: 15%;

      p {
        &:first-of-type {
          font-weight: 600;
        }
        &:last-of-type {
          margin: 0;
        }
        white-space: nowrap;
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: "Poppins";
      }
    }
    &-social {
      margin-left: 30px;
      width: 40%;
      &-item {
        span {
          max-width: calc(100% - 120px);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        &:last-of-type {
          p {
            margin: 0;
          }
        }
        display: flex;
        a {
          width: 320px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        p {
          width: 120px;
        }
      }
    }
    &-stages {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 30px;
      p {
        margin-bottom: 0;
      }
      span {
        font-weight: 600;
        margin-bottom: 5px;
      }
      &-box {
        display: flex;
        justify-content: space-between;
        &-item {
          background-color: #dadada;
          width: 40px;
          height: 40px;
          margin: 0 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            margin: 0;
          }
        }
      }
    }
  }
  &-middle {
    margin-left: 9px;

    margin-top: 20px;
    &-step {
      &__ttl {
        margin-bottom: 20px;
        margin-left: 10px;
        font-family: "Poppins";
        font-weight: 600;
      }
    }
  }
}
.content {
  width: 100%;
  padding-right: 30px;
  margin-left: 9px;
  &-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(1px 0px 0px #9bbffa) drop-shadow(0px 0px 0px #9bbffa)
      drop-shadow(0px 1px 0px #9bbffa) drop-shadow(0px -1px 0px #9bbffa)
      drop-shadow(0px 0px 0px #9bbffa) drop-shadow(0px 0px 0px #9bbffa)
      drop-shadow(0px 0px 0px #9bbffa) drop-shadow(0px 0px 0px #9bbffa);
    &-item {
      position: relative;
      -webkit-clip-path: polygon(87% 0, 100% 51%, 88% 99%, 0 99%, 16% 52%, 0 0);
      clip-path: polygon(87% 0, 96% 51%, 88% 99%, 0 99%, 10% 52%, 0 0);
      width: 190px;
      height: 50px;
      background-color: #fff;
      transition: all 0.6s;
      p {
        font-size: 13px;
        margin-left: 30px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
      }
      h6 {
        font-size: 12px;
        margin-top: 9px;
        margin-left: 30px;
        font-family: "Poppins";
        margin-bottom: 0;
      }
    }
  }
}
.highlight {
  background-color: #a2d9fd !important;
  color: #3d4eac;
  width: 200px;
}
.passed {
  background-color: #79ec7d;
}
.notyet {
  background-color: #b5b6b0;
}
.isnow {
  background-color: #a2d9fd;
}
.cv {
  margin-left: 20px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 30px;
}
.staging {
  color: #1367a0;
}
.fail {
  background-color: red !important;
  color: rgb(29, 28, 28);
}
.action {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
