<div class="content" (click)="popupRequest()">
  <p><i class="fa fa-plug"></i>Matching request</p>
  <app-loader [isLoaded]="isLoaded"></app-loader>
</div>
<swal
  class="confirm"
  #requestPicker
  title="Choose request"
  width="1150px"
  tabindex="100"
>
  <div *swalPortal="swalTargets.content">
    <!-- <app-confirm-matching></app-confirm-matching> -->
    <div class="c" (click)="deleteRQ()">
      <p><i class="fa fa-ban circle-icon"></i>Delete request</p>
    </div>
    <app-grid2></app-grid2>
  </div>
</swal>
<div class="overlay"></div>
