.content{
    width: 100%;
    h5{
        font-family: "Poppins";
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        margin-left: 9px;
        margin-bottom: 10px;
    }
}
.list{
    display: flex;
    .content-report{
        margin: 20px 0;
        width: 50%;
    }
}
.c{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}